
/* 图标大小 */
i {
    margin-right: 3px;
}

/* 任务数字背景的badge的颜色设置 */
span.badge {
    color: darkorange;
    font-weight: bolder;
    background-color: #333;

}

/* 导航栏的active字体 */
.navbar li a.active {
    color: darkorange;
    font-weight: bolder;
}


/* 路径导航 */
.my_navilist {
    margin-left: 17px;
    font-size: 13px;
}

/* 顶部导航的绝对定位 */
div.body-content {
    margin-top: 61px ;
}

.mynavbar{
    background-color:rgba(16, 16, 16,0.80);
}

a span.nickname {
    margin-left: 0px;
    color: white;
}


.myfooter{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;
    text-align: center;
}

.myfooter-links li{
    color: grey;
    list-style: none;
}