
*{
    margin:0;
    padding:0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

/* 图标大小 */
i {
    margin-right: 3px;
}

/* 任务数字背景的badge的颜色设置 */
span.badge {
    color: darkorange;
    font-weight: bolder;
    background-color: #333;

}

/* 导航栏的active字体 */
.navbar li a.active {
    color: darkorange;
    font-weight: bolder;
}


/* 路径导航 */
.my_navilist {
    margin-left: 17px;
    font-size: 13px;
}

/* 顶部导航的绝对定位 */
div.body-content {
    padding-top: 60px ;
}

.mynavbar{
    background-color:rgba(16, 16, 16,0.80);
}

a span.nickname {
    margin-left: 0px;
    color: white;
}


.base-content{
    /*padding-bottom: 50px;*/
}


.myfooter{
    margin-top: -60px;
    height: 60px;
    background-color: #eee;
    text-align: center;
    line-height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.myfooter-links li{
    color: grey;
    list-style: none;
}