<!DOCTYPE html>
{% load menu_list %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CRM </title>
    <link rel="stylesheet" href="{% static '/plugins/bootstrap/css/bootstrap.css' %}">
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/plugins/bootstrap/js/bootstrap.js' %}"></script>
    {#    图标文件系统#}
    <link rel="stylesheet" href="{% static '/plugins/font-awesome/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static '/rbac/rbac.css' %}">

    {#下拉搜索功能#}
    <script src="{% static "plugins/bootstrap-select-1.13.14/dist/js/bootstrap-select.js" %}"></script>
    <link href="{% static "plugins/bootstrap-select-1.13.14/dist/css/bootstrap-select.css" %} " rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/layout.css' %}">


    {% block css %}

    {% endblock %}

</head>
<body>


{#   顶部导航栏  #}
<nav class="navbar navbar-inverse navbar-fixed-top mynavbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index/">CRM</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav navbar-ul">
                {% if request.top_menu_title == '收款' %}
                    <li><a href="{% url 'stark:dipay_inwardpay_list' %}" class="active">收款</a></li>
                {% else %}
                    <li><a href="{% url 'stark:dipay_inwardpay_list' %}">收款</a></li>
                {% endif %}

                {% if request.top_menu_title == '订单' %}
                    <li><a href="{% url 'stark:dipay_applyorder_list' %}" class="active">订单</a></li>
                {% else %}
                    <li><a href="{% url 'stark:dipay_applyorder_list' %}">订单</a></li>
                {% endif %}

                {% if request.top_menu_title == '跟单' %}
                    <li><a href="{% url 'stark:dipay_followorder_list' %}" class="active">跟单</a></li>
                {% else %}
                    <li><a href="{% url 'stark:dipay_followorder_list' %}">跟单</a></li>
                {% endif %}

                {% if request.top_menu_title == 'stark:dipay_followorder_list_plan' %}
                    <li><a href="{% url 'stark:dipay_followorder_list_plan' %}" class="active">排产</a></li>
                {% else %}
                    <li><a href="{% url 'stark:dipay_followorder_list_plan' %}">排产</a></li>
                {% endif %}

             {% if request.top_menu_title == '商机' %}
                    <li><a href="{% url 'stark:dipay_chance_list' %}" class="active">商机</a></li>
                {% else %}
                    <li><a href="{% url 'stark:dipay_chance_list' %}">商机</a></li>
                {% endif %}

                {% if request.user.username == 'brank' %}
                    <li><a href="{% url 'stark:dipay_applyorder_list_verify' %}">订单审核</a></li>

                {% endif %}

            </ul>


            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="{% url "stark:dipay_dailyplan_list" %}"><span>任务</span>
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <span class="badge bg-warning">{{ request.task_count }}</span></a>
                </li>
                {% if request.user.username %}
                    <li><a href="#"> <i class="fa fa-user-circle-o"></i> <span
                            class="nickname">{{ request.user.nickname }}</span></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"> 我的 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人设置</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">注销</a></li>
                            <li><a href="{% url 'stark:dipay_userinfo_reset_pwd' request.user.pk %}">修改密码</a></li>
                        </ul>
                    </li>

                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>



{% block base_content %}

{% endblock %}


</body>

<script src="{% static '/rbac/rbac.js' %}"></script>

{% block js %}

{% endblock %}

</html>
