{%  extends 'base_layout.html' %}
{% load menu_list %}
{% load static %}

{% block base_content %}

<div class="container-fluid body-content">
    <div class="row">

        <div class="col-md-12">
            {#        路径导航#}
            <div class="my_navilist">
                {% for item in request.navi_list %}
                    {% if forloop.first %}
                        <a href="{{ item.url }}" class="active">{{ item.title }}</a>
                    {% else %}
                        {% if item.url %}
                            <span> >  </span>  <a href="{{ item.url }}" class="active">{{ item.title }}</a>
                        {% else %}
                            <span> >  </span> <span>{{ item.title }}</span>
                        {% endif %}
                    {% endif %}

                {% endfor %}
                <hr>

            </div>

            {% block content %}

            {% endblock %}

        </div>

    </div>

</div>

{% endblock %}


