{% extends 'base_layout.html' %}
{% load static %}
{% load menu_list %}


{% block base_content %}


<div class="container-fluid body-content">
    <div class="row">

        <div class="col-md-2">

            <div class="pg-body hidden-xs">


                {#   左侧菜单#}
                {% left_menu request %}

            </div>

            {% block side_panel %}

            {% endblock %}

        </div>

        <div class="col-md-10">
            {#        路径导航#}
            <div class="my_navilist">
                {% for item in request.navi_list %}
                    {% if forloop.first %}
                        <a href="{{ item.url }}" class="active">{{ item.title }}</a>
                    {% else %}
                        {% if item.url %}
                            <span> >  </span>  <a href="{{ item.url }}" class="active">{{ item.title }}</a>
                        {% else %}
                            <span> >  </span> <span>{{ item.title }}</span>
                        {% endif %}
                    {% endif %}

                {% endfor %}
                <hr>

            </div>

            {% block content %}

            {% endblock %}

        </div>


    </div>

</div>


  <!-- Modal 模态对话框 快速添加外键信息 -->
    <div class="modal fade" id="FastCreateModal" tabindex="-1" role="dialog" aria-labelledby="FastCreateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="FastCreateModalLabel">新增</h4>
                    <div class="modal-error" style="color: red"></div>
                </div>
                <div class="modal-body">
                    <div class="modal-details"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id='submit_data' onclick="closePopup(this)">提交</button>
                    <button type="button" class="btn btn-default" onclick="shutFastCreateModal(this)">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/decimal.js/decimal.js' %}"></script>


{% endblock %}


