{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 12px;
        }
    </style>

{% endblock %}



{% block content %}
    <div class="luffy-container">

        <div class="col-md-5">

            {#            <h3>添加/修改数据</h3>#}


	    <form action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}

                {% for field in form %}
                    <label for="">{{ field.label }}</label>
                    {% if field.name in popup_list %}
                        <a href="/{{ namespace }}/{{ app_label }}/{{ field.name }}/create/" onclick="return showAPP(this)"
                           style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                        <div class="form-row">

                            {{ field }}

                            <span style="color:#ff0000">{{ field.errors.0 }}</span>
                        </div>
                    {% else %}
                        <p>{{ field }} <span style="color:red">{{ field.errors.0 }}</span></p>
                    {% endif %}

                {% endfor %}

                <div>
                    <button class="btn btn-success">提交</button>

                </div>

            </form>


        </div>


    </div>

    <!-- js代码：处理外键字段快速新增一条记录 -->
    <script src="{% static 'js/popup_create.js' %}"></script>

{% endblock %}
