{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <title>CRM系统</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.css" %}">
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static "plugins/bootstrap/js/bootstrap.js" %}"></script>

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CRM系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-ul">

            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if request.user.username %}
                    <li><a href="#">用户:{{ request.user.username }}</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"> 我的 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人资料</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">注销</a></li>
                        </ul>
                    </li>

                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                {% endif %}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-3 col-md-offset-4">

            <h3>登录系统</h3>

            <form action="" method="post" class="form-group">
                {% csrf_token %}
                <input type="text" name="username" placeholder="用户名" class="form-control">
                <input type="password" name="pwd" placeholder="密码" class="form-control">
                <input type="submit" value="登录" class="btn btn-primary form-control">

            </form>
            <span id="msg" style="color: red">{{ msg }}</span>


        </div>


    </div>

</div>


</body>
</html>
