{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 12px;
        }
    </style>

{% endblock %}



{% block content %}
    <div class="luffy-container">

        <div class="col-md-5">


            <!-- 修改数据 -->

            <form action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}

                {% for field in form %}
                    <label for="">{{ field.label }}</label>
                    {% if field.name in popup_list %}
                        <a href="/{{ namespace }}/{{ app_label }}/{{ field.name }}/create/"
                           onclick="return showAPP(this)"
                           style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                        <div class="form-row">

                            {{ field }}

                            <span style="color:#ff0000">{{ field.errors.0 }}</span>
                        </div>
                    {% else %}
                        <p>{{ field }} <span style="color:red">{{ field.errors.0 }}</span></p>
                    {% endif %}

                {% endfor %}

                <div>
                    <button class="btn btn-success">提交</button>

                </div>

            </form>


        </div>


    </div>


{##}
{#        <!-- Modal 模态对话框 快速添加 -->#}
{#    <div class="modal fade" id="FastCreateModal" tabindex="-1" role="dialog" aria-labelledby="FastCreateModalLabel">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                            aria-hidden="true">&times;</span></button>#}
{#                    <h4 class="modal-title" id="FastCreateModalLabel">快速添加</h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <div class="modal-details"></div>#}
{##}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">提交</button>#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}

    <!-- js代码：处理外键字段快速新增一条记录 -->
    <script src="{% static 'js/popup_create.js' %}"></script>

{% endblock %}

