{% extends 'layout.html' %}
{% load static %}

{% block css %}

    <style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 12px;
        }

    .item-row{
        margin-top: 20px;

    }
    label{
        font-weight: bold;
    }
    input[type=submit]{
        margin-right: 30px;

    }

    </style>

{% endblock %}


{% block content %}
    <div class="luffy-container">

        <div class="col-md-6">

            <form action="" method="post">
                {% csrf_token %}

                {#            订单类型#}
                <div class="item-row">
                    <label for="">{{ form.order_type.label }}</label>
                    <p>{{ form.order_type }} <span style="color:red">{{ form.order_type.errors.0 }}</span></p>
                </div>

                {#            客户 #}
                <div class="item-row">
                    <label for="">{{ form.customer.label }}</label>
                    <a href="{% url 'stark:dipay_customer_create' %}" onclick="return showAPP(this)"
                       style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                    <div class="form-row">
                        {{ form.customer }}
                        <span style="color:#ff0000">{{ form.customer.errors.0 }}</span>
                    </div>
                </div>

                <!-- 贸易条款 港口  货物   -->
                <div class="item-row" style="display:flex;flex-direction: row;justify-content: space-between">
                    <div style="width: 15%">
                        <label for="">{{ form.term.label }}</label>
                        <div class="form-row">
                            {{ form.term }}
                            <span style="color:#ff0000">{{ form.term.errors.0 }}</span>
                        </div>

                    </div>
                    <div style="width: 25%">
                        <label for="">{{ form.discharge_port.label }}</label>
                        <a href="{% url 'stark:dipay_ports_create' %}" onclick="return showAPP(this)"
                           style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                        <div class="form-row">
                            {{ form.discharge_port }}
                            <span style="color:#ff0000">{{ form.discharge_port.errors.0 }}</span>
                        </div>

                    </div>
                    <div style="width: 55%">
                        <label for="">{{ form.goods.label }}</label>
                        <div class="form-row">
                            {{ form.goods }}
                            <span style="color:#ff0000">{{ form.goods.errors.0 }}</span>
                        </div>
                    </div>
                </div>



                {#            币种和金额 #}

              <div class="item-row" style="display:flex;flex-direction: row;justify-content: space-between">
                    <div style="width: 25%">
                        <label for="">{{ form.currency.label }}</label>
                        <div class="form-row">
                            {{ form.currency }}
                            <span style="color:#ff0000">{{ form.currency.errors.0 }}</span>
                        </div>
                    </div>
                    <div style="width: 70%">
                        <label for="">{{ form.amount.label }}</label>
                        <div class="form-row">
                            {{ form.amount }}
                            <span style="color:#ff0000">{{ form.amount.errors.0 }}</span>
                        </div>

                    </div>
                </div>

            {#            详情 #}
            <div class="item-row">
                    <label for="">{{ form.remark.label }}</label>
                    <p>{{ form.remark }} <span style="color:red">{{ form.remark.errors.0 }}</span></p>
                </div>



                <div class='item-row' style="margin-bottom:100px">
                    <input type="submit" value="提交" class="btn btn-success">
                    <a href="{{ back_url }}" class="btn btn-warning">取消</a>


                </div>

            </form>


        </div>


    </div>

    <!-- js代码：处理外键字段快速新增一条记录 -->
    <script src="{% static 'js/popup_create.js' %}"></script>
    <script src="{% static 'js/newpayment_inspect.js' %}"></script>

{% endblock %}