{% extends 'layout.html' %}

{% block css %}
    <style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 12px;
        }
    </style>

{% endblock %}



{% block content %}
    <div class="luffy-container">

        <div class="col-md-7">




            <form action="" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div>
                        <label for="">{{ field.label }}</label>
                        {{ field }} <span style="color:red">{{ field.errors.0 }}</span>
                    </div>

                {% endfor %}
                <div style="margin-top:10px; margin-bottom: 100px">
                    <a href="{{ return_url }}" class="btn btn-info">返回</a>
                    <input type="submit" value="下单确认" class="btn btn-warning">

                </div>


            </form>






        </div>

    </div>

{% endblock %}