{% load static %}
<link rel="stylesheet" href="{% static '/plugins/bootstrap/css/bootstrap.css' %}" >
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/plugins/bootstrap/js/bootstrap.js' %}"></script>
    {#    图标文件系统#}
    <link rel="stylesheet" href="{% static '/plugins/font-awesome/css/font-awesome.css' %}">
    {#下拉搜索功能#}
    <script src="{% static "plugins/bootstrap-select-1.13.14/dist/js/bootstrap-select.js" %}"></script>
    <link href="{% static "plugins/bootstrap-select-1.13.14/dist/css/bootstrap-select.css" %} " rel="stylesheet">



<div class="luffy-container">

    <div class="col-md-5">

        <h4>新增</h4>

        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <label for="">{{ field.label }}</label>

                    {{ field }} <span style="color:red">{{ field.errors.0 }}</span>
                </p>

            {% endfor %}
            <div>
                <button class="btn btn-success">提交</button>

            </div>
        </form>
    </div>
</div>

