{% load static %}

     <style>


     </style>


      <div class="mymodal-details">

        <div>

            <!-- 修改数据 -->
            <form action="" method="post" enctype='multipart/form-data' class="form-inline">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name in popup_list %}
                         <label for="">{{ field.label }}</label>
                        <a href="/{{ namespace }}/{{ app_label }}/{{ field.name }}/create/"
                           onclick="return showAPP(this)"
                           style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                        <div class="form-row">

                            {{ field }}

                            <span style="color:#ff0000">{{ field.errors.0 }}</span>
                        </div>
                    {% else %}
                        <div class="form-group">
                             <label for="">{{ field.label }}</label>
                            {{ field }} <span style="color:red">{{ field.errors.0 }}</span>
                        </div>
                    {% endif %}



                {% endfor %}

                <div>
                    <span class="btn btn-success {{ model_name }}"> 提交 </span>
                </div>

            </form>

        </div>

    </div>

