{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 12px;
        }

        .row-flex-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .row-div, .row-flex-div{
            margin-top:15px;
        }

        .col-date {
            width: 25%;
        }


        .col-currency {
            width: 16%;
        }

        .col-amount, .col-got-amount, .col-payer {
            flex-grow: 1;
            margin-left: 20px;
        }


    </style>

{% endblock %}



{% block content %}
    <div class="luffy-container">

        <div class="col-md-7">

            {#            <h3>添加/修改数据</h3>#}

            <form action="" id='new-payment' method="post" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="row-flex-div">
                    <div class="col-date">
                        {#   日期  #}
                        <label for="">{{ form.create_date.label }}</label>
                        <p>{{ form.create_date }} <span style="color:red">{{ form.create_date.errors.0 }}</span></p>

                    </div>
                    <div class="col-payer">
                        {#   收款行   #}
                        <label for="">{{ form.bank.label }}</label>
                        <a href="{{ form.bank.url }}" onclick="return showAPP(this)"
                           style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                        <div class="form-row">
                            {{ form.bank }} <span style="color:#ff0000">{{ form.bank.errors.0 }}</span>
                        </div>
                    </div>

                </div>


                <div class="row-div">
                    {#   付款人   #}
                    <label for="">{{ form.payer.label }}</label>
                    <a href="{{ form.payer.url }}" onclick="return showAPP(this)"
                       style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                    <div class="form-row">
                        {{ form.payer }} <span style="color:#ff0000">{{ form.payer.errors.0 }}</span>
                    </div>


                </div>


                <div class="row-flex-div">
                    <div class="col-currency">
                        <label for="">{{ form.currency.label }}</label>
                        <p>{{ form.currency }} <span style="color:red">{{ form.currency.errors.0 }}</span></p>
                    </div>
                    <div class="col-amount">
                        <label for="">{{ form.amount.label }}</label>
                        <p>{{ form.amount }} <span style="color:red">{{ form.amount.errors.0 }}</span></p>
                    </div>
                    <div class="col-got-amount">
                        <label for="">{{ form.got_amount.label }}</label>
                        <p>{{ form.got_amount }} <span style="color:red">{{ form.got_amount.errors.0 }}</span></p>

                    </div>
                </div>

                <div class="row-div">
                    {#   水单  #}
                    <label for="">{{ form.ttcopy.label }}</label>
                    <p id="ttcopy">{{ form.ttcopy }} <span style="color:red">{{ form.ttcopy.errors.0 }}</span></p>
                </div>

                <div class="row-div">
                    {#   备忘  #}
                    <label for="">{{ form.remark.label }}</label>
                    <p>{{ form.remark }} <span style="color:red">{{ form.remark.errors.0 }}</span></p>

                </div>

                <button type="submit" >submit</button>


                <div>
                    <span class="btn btn-success" onclick="inspectSubmitPayment()">提交</span>

                </div>

            </form>
        </div>
    </div>


    <!-- js代码：处理外键字段快速新增一条记录 -->
    <script src="{% static 'js/popup_create.js' %}"></script>
    <script src="{% static 'js/newpayment_inspect.js' %}"></script>

{% endblock %}

