{% load static %}

<div class="payment-details">

    <div>
        <table class="table table-striped" style="font-size: medium">
            <tr>
                <td>收款编号</td><td> {{ inwardpay_obj.reference }}</td>
            </tr>
             <tr>
                <td>收款日期</td><td> {{ inwardpay_obj.create_date|date:'Y-m-d' }}</td>
            </tr>
             <tr>
                <td>收款银行</td><td> {{ inwardpay_obj.bank.title }}</td>
            </tr>
            <tr>
                <td>付款人</td><td> {{ inwardpay_obj.payer.title }}</td>
            </tr>
            <tr>
                <td>客户</td><td> {{  inwardpay_obj.customer.shortname }}</td>
            </tr>
            <tr>
                <td>水单金额</td><td> {{ inwardpay_obj.currency.icon }} {{ inwardpay_obj.amount }}</td>
            </tr>
            <tr>
                <td>实到金额</td><td> {{ inwardpay_obj.currency.icon }} {{ inwardpay_obj.got_amount }}</td>
            </tr>
            <tr>
                <td>备注</td><td> {{inwardpay_obj.remark }}</td>
            </tr>

        </table>


    </div>
</div>

