{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 12px;
        }
    </style>

{% endblock %}


{% block content %}
    <div class="luffy-container">

        <div class="col-md-6">



        <div class="panel panel-success">
                <div class="panel-heading"><i class="fa fa-plus-circle"></i> 手动创建订单

                </div>
                <div class="panel-body">
                    <!-- panel body -->
                     <form action="" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <label for="">{{ field.label }}</label>
                    {% if field.name == 'customer' %}
                        <a href="{% url 'stark:dipay_customer_create' %}" onclick="return showAPP(this)"
                           style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                        <div class="form-row">

                            {{ field }}

                            <span style="color:#ff0000">{{ field.errors.0 }}</span>
                        </div>
                    {% else %}
                        <p>{{ field }} <span style="color:red">{{ field.errors.0 }}</span></p>
                    {% endif %}

                {% endfor %}


                <div style="margin-bottom:100px">
                    <input type="submit" value="提交" class="btn btn-success">
                    <a href="{{ back_url }}" class="btn btn-warning">取消</a>


                </div>

            </form>

                </div>
            </div>


        </div>


    </div>

     <!-- js代码：处理外键字段快速新增一条记录 -->
    <script src="{% static 'js/popup_create.js' %}"></script>

{% endblock %}