{% load static %}

     <style>
         .form-group{
             margin-top: 10px;
         }
         .bootstrap-select, .form-inline .bootstrap-select.form-control:not([class*="col-"]) {
    width: 85px;
}

     </style>


      <div class="mymodal-details">

        <div>
            <!-- 修改数据 -->
            <form action="" method="post" enctype='multipart/form-data' class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name in popup_list %}
                         <label for="">{{ field.label }}</label>
                        <a href="/{{ namespace }}/{{ app_label }}/{{ field.name }}/create/"
                           onclick="return showAPP(this)"
                           style="float:right"> <i class="fa fa-plus" aria-hidden="true"></i> </a>
                        <div class="form-row">

                            {{ field }}

                            <span style="color:#ff0000">{{ field.errors.0 }}</span>
                        </div>
                    {% else %}
                        <div class="form-group">
                             <label for="" class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-sm-10 ">
                                {{ field }} <span style="color:red">{{ field.errors.0 }}</span>
                            </div>
                        </div>
                    {% endif %}



                {% endfor %}

                <div >
                    <button class="btn btn-success {{ model_name }}"> 提交 </button>
                </div>

            </form>

        </div>

    </div>

