{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/dipay.css' %}">

    {% block self-css %}

    {% endblock %}
    <style>

        {{ css_for_show_list }}

        .photos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }


        .photo {
            width: 210px;
            height: 225px;
            border: 1px solid lightgrey;
            margin: 20px;
        }

        .photo:first-child {
            border: 1px solid orange;
        }

        .photo img {
            width: 200px;
            height: 200px;
            vertical-align: middle;
        }

        #product_name {
            font-size: large;
            border-bottom: 1px solid lightgrey;
            margin-bottom: 20px;
        }

        i.fa-pencil, i.fa-trash {
            color: lightgrey;
            margin-right: 10px ;

        }

        i.fa-pencil:hover, i.fa-trash:hover {
            cursor: pointer;
            color: darkorange;
        }

        li.dropdown {
            list-style-type: none;
        }

        .edit-dropdown-bt {

        }


    </style>

{% endblock %}


{% block content %}
    <div class="luffy-container">

        <div class="col-md-12">


            <!-- 组合筛选功能区 -->
            <!-- 按月筛选字段 -->

            {% if product_name %}
                <div id="product_name">

                    <a href="{% url 'stark:dipay_product_list' %}?q={{ product_name }}">{{ product_name }}</a>

                </div>
            {% endif %}


            <!-- 添加按钮 -->
            <div class="pull-right">
                {% if add_btn %}
                    {{ add_btn|safe }}
                {% endif %}

            </div>


            <div class="photos">

                {% for productphoto in photos %}
                    <div class="photo">
                        <img src="{{ productphoto.photo.url }}"
                             onclick="return popupImg(this)"
                             alt="{{ productphoto.photo.name }}">

                        <!-- 设为主图的按钮 -->
                        <a href='{% url "stark:dipay_productphoto_edit" pk=productphoto.pk product_id=productphoto.product.pk %}'>
                            <i class="fa fa-pencil"></i>
                        </a>

                       <!-- 设为删除图片按钮 -->
                        {% if request.user.username == 'brank' %}
                          <a href='{% url "stark:dipay_productphoto_del" pk=productphoto.pk product_id=productphoto.product.pk %}'>
                            <i class="fa fa-trash"></i>
                        </a>
                        {% endif %}

                    </div>

                {% endfor %}

            </div>

            <!--  页面记录数显示   -->
            {% if total_count %}
                <div style="float: right; color: lightgray"> {{ this_page_count }}/{{ total_count }}</div>
            {% endif %}


            <!-- 分页器    -->
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {{ pager.page_html|safe }}

                </ul>
            </nav>


        </div>


    </div>

    <!-- 图片弹窗 -->
    <div id="ImgModal" class="newmodal">
        <!-- 关闭 放大和缩小按钮 -->
        <div class="img-close" style="display: flex; flex-direction: column">
            <span  onclick="closeImg()"> &times; </span>
            <span  onclick="Zoomout()"> + </span>
            <span  onclick="Zoomin()"> - </span>
        </div>

        <!-- 弹窗内容 -->
        <img class="newmodal-content" id="img01">
        <!-- 文本描述 -->
        <div id="caption"></div>
    </div>

    {% block showListExtra %}

    {% endblock %}


    <script src="{% static "js/edit-follow-order.js" %}"></script>
    <script src="{% static "js/img_operate.js" %}"></script>


{% endblock %}

