{% extends "layout.html" %}
{% load menu_list %}
{% load static %}
{% block css %}


    <style>
        tr.active {
            border-left: 3px solid orange;
        }

        .relate-btn {

            margin-right: 35px;
        }

        textarea[id^="amount"] {
            width: 87px;
            height: 36px;
        }

        .text-display, .date-display, .status-display, .invoice-amount-display {
            cursor: pointer;

        }

        .fa-check {
            color: green;
            font-size: 20px;
        }

        td.dist-amount, td.torelate-amount-display {
            font-weight: bolder;
            color: blue;
        }

        /* ***********弹窗图片的样式 *************/

        /* 弹窗背景 */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(125, 117, 117); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
        }

        /* 图片 */
        .modal-content {
            margin: auto;
            display: block;
            width: 100%;
            max-width: 900px;
        }


        /* 添加动画 */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

         /* 这些是什么意思，后面再慢慢搞懂，先用起来再说 */
        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0)
            }
            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* 关闭按钮 */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #ffffff;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover, .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }


        /* ***********end  弹窗图片的样式 *************/

    </style>

{% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="col-md-12">
            <!-- 收款记录 -->
            <div class="panel panel-info">
                {% csrf_token %}

                <div class="panel-heading"><i class="fa fa-get-pocket"></i>收款记录

                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>付款日期</th>
                        <th>客户</th>
                        <th>付款人</th>
                        <th>币种金额</th>
                        <th>收款银行</th>
                        <th>水单</th>
                        <th>待关联金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ inwardpay_obj.create_date|date:"Y-m-d" }}</td>
                        <td>{{ inwardpay_obj.customer.shortname }}</td>
                        <td>{{ inwardpay_obj.payer.title|default:'-' }}</td>
                        <td>{{ inwardpay_obj.currency.icon }}{{ inwardpay_obj.amount }}</td>
                        <td>{{ inwardpay_obj.bank.title }}</td>
                        {% if inwardpay_obj.ttcopy %}
                          <td><img src="{{ inwardpay_obj.ttcopy.url }}" onclick="return popupImg(this)" width="30px" height="30px"></td>
                        {% else %}
                             <td><i class="fa fa-minus-square"></i></td>
                        {% endif %}

                        <td class="torelate-amount-display">{{ inwardpay_obj.currency.icon }}{{ inwardpay_obj.torelate_amount }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <!-- 图片弹窗 -->
            <div id="ImgModal" class="modal">

                <!-- 关闭按钮 -->
                <span class="close" onclick="document.getElementById('ImgModal').style.display='none'">&times;</span>

                <!-- 弹窗内容 -->
                <img class="modal-content" id="img01" >

                <!-- 文本描述 -->
                <div id="caption"></div>
            </div>

            <!-- 已关联记录 -->
            <div class="panel panel-success">
                <div class="panel-heading"><i class="fa fa-building"></i> 已关联记录</div>
                <div class="panel-body">
                    <!-- 待关联订单列表 -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>订单号</th>
                            <th>客户名</th>
                            <th>订单金额</th>
                            <th>已收金额</th>
                            <th>已关联金额</th>
                            <th>操作</th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for row in related_order_list %}
                            <tr>
                                <td>{{ row.order.order_number }}</td>
                                <td>{{ row.order.customer.shortname }}</td>
                                <td>{{ row.order.currency.icon }}{{ row.order.amount }}</td>
                                <td>{{ row.order.currency.icon }}{{ row.order.rcvd_amount }}</td>
                                <td class="dist-amount">{{ row.order.currency.icon }} {{ row.amount }} </td>
                                <td>
                                    <a href="{% url 'stark:dipay_pay2orders_edit'  row.pk %}"><i class="fa fa-edit"></i></a>

                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>


            <!-- 可关联订单列表 -->
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-building"></i> 可关联订单列表 <span
                        class="pull-right btn-success">点击关联金额直接修改</span></div>
                <div class="panel-body">
                    <!-- 待关联订单列表 -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>订单号</th>
                            <th>客户名</th>
                            <th>订单金额</th>
                            <th>已收金额</th>
                            <th>应收账款</th>
                            <th>已关联金额</th>
                            <th>操作</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for row in torelate_order_list %}
                            <tr>
                                <td>{{ row.order_number }}</td>
                                <td>{{ row.customer.shortname }}</td>
                                <td>{{ row.currency.icon }}{{ row.amount }}</td>
                                <td>{{ row.currency.icon }}{{ row.rcvd_amount }}</td>
                                <td>{{ row.currency.icon }}{{ row.collect_amount }}</td>
                                <td class="dist-amount"> {{ row.dist_amount }} </td>
                                <td>
                                    {{ row.save_btn }}
                                    {{ row.del_btn }}

                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>

        </div>


    </div>




    <script src="{% static "rbac/permission_distribute.js" %}"></script>
    <script src="{% static "js/edit-follow-order.js" %}"></script>
    <script>

    function popupImg(atag) {
        var img_url = atag.src;
        $('#img01').attr('src',img_url);
        $('#ImgModal').fadeIn();

        return false;

    }

    </script>

{% endblock %}