{% extends 'stark/show_list.html' %}
{% load static %}





{% block css %}
    <link rel="stylesheet" href="{% static '/css/dipay.css' %}">

    <style>


    </style>

{% endblock %}



{% block beforetable %}
             <!-- 显示选择的金额合计 -->
                <div id="total-chozen-amount-label" style="display:none;float:right;margin-right: 42%">
                    选择金额合计：
                    <span id="total-chozen-amount-currency"></span>
                    <span id="total-chozen-amount"></span>
                </div>
{% endblock %}



{% block showListExtra %}

    <script src="{% static "js/decimal.js/decimal.js" %}"></script>
    <script src="{% static "js/edit-charge-list.js" %}"></script>


{% endblock %}


