{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/dipay.css' %}">

    <style>


    </style>

{% endblock %}


{% block content %}
    <div class="luffy-container">

        <div class="col-md-12">

            <!-- 组合筛选功能区 -->
            {% if option_group_dict %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-filter"></i> 快速筛选
                    </div>
                    <div class="panel-body">
                        {% for field, row in option_group_dict.items %}

                            <div class="search-group">
                                <div class="row">
                                    {% for each in row %}
                                        {{ each|safe }}
                                    {% endfor %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>

            {% endif %}


            {% if search_list %}

                <form action="" method="get" class="form-group pull-left">

                    <input name="q" type="text" value="{{ user_query }}" placeholder="{{ search_placeholder }}">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <button id="id-clear-search" onclick="clearSearch()"><i class="fa fa-rotate-left"></i></button>


                </form>
            {% endif %}


            <form action="" method="post">
                <!-- 批量处理按钮 -->
                {% csrf_token %}
                {% if batch_process_dict %}
                    <div class="pull-right">

                        <select name="handle_type" class="handle-select">
                            <option value="">请选择处理方式</option>
                            {% for func,text in batch_process_dict.items %}
                                <option value="{{ func }}">{{ text }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary handle-btn"><i class="fa fa-send"></i></button>
                    </div>

                {% endif %}

                <!-- 添加按钮 -->
                <div class="pull-left">
                    {% if add_btn %}
                        {{ add_btn|safe }}
                    {% endif %}

                </div>


                <div>{{ msg }}</div>

                <table class="table table-bordered table-striped">

                    <thead>
                    {% for item in header_list %}
                        <th> {{ item }}</th>
                    {% endfor %}


                    </thead>
                    <tbody>
                    {% for row in data_list %}
                        <tr>
                            {% for item in row %}
                                <td>{{ item }} </td>
                            {% endfor %}
                        </tr>

                    {% endfor %}
                    </tbody>

                </table>

            </form>


            <!-- 分页器    -->
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {{ pager.page_html|safe }}

                </ul>
            </nav>


        </div>


    </div>



    <!-- 图片弹窗 -->
    <div id="ImgModal" class="newmodal">
        <!-- 关闭按钮 -->
        <span class="img-close" onclick="document.getElementById('ImgModal').style.display='none'">&times;</span>
        <!-- 弹窗内容 -->
        <img class="newmodal-content" id="img01">
        <!-- 文本描述 -->
        <div id="caption"></div>
    </div>


    <!-- Modal 模态对话框  显示款项明细，并提示确认或者取消 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">入款详情</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="payment-details"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning confirm-pay" pk=""
                            onclick="return confirmReceiptInwardpay(this)">确认收讫
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>



    <script src="{% static "js/edit-follow-order.js" %}"></script>


{% endblock %}