<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test 响应式布局</title>

    <link rel="stylesheet" href="{% static '/plugins/bootstrap/css/bootstrap.css' %}">
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/plugins/bootstrap/js/bootstrap.js' %}"></script>
    {#    图标文件系统#}
    <link rel="stylesheet" href="{% static '/plugins/font-awesome/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static '/rbac/rbac.css' %}">

</head>
<body>

<div class="container">

    <div class="col-md-10">

<table class="table table-bordered table-striped">
    <thead>
    <th >名字</th>
    <th >名字2</th>
    <th>名字3</th>
    <th class="hidden-xs">名字4</th>
    <th class="hidden-xs">名字5</th>

    </thead>

    <tbody>
    <tr>
        <td >hello</td>
        <td >hello2</td>
        <td>hello3</td>
        <td class="hidden-xs">hello4</td>
        <td class="hidden-xs">hello5</td>

    </tr>

    <tr>
        <td >hello</td>
        <td >hello7</td>
        <td>  <!-- Target -->
<span id="bar">Mussum ipsum cacilds...</span>

<!-- Trigger -->
<button class="clip-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
    Cut to clipboard
</button>  </td>
        <td class="hidden-xs">
           <span>#</span> <span id="foo-314" >cmanfaf f.... fanfancalj </span><button id='clipboard-btn-314' class="clip-btn" type="button" data-clipboard-demo="" data-clipboard-target="#foo-314">
</button>

        </td>
        <td class="hidden-xs">hello10</td>
    </tr>



    </tbody>


</table>

</div>
</div>
</body>

<script src="{% static 'js/clipboard/dist/clipboard.min.js' %}"></script>

<script>
    new ClipboardJS('.clip-btn');
</script>

</html>