{% extends 'layout.html' %}

{% block css %}
    <style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 12px;
        }
    </style>

{% endblock %}



{% block content %}
    <div class="luffy-container">

        <div class="col-md-5">

            <h4>批量上传客户</h4>
            <p>
               上传说明： 字段名称： 客户名称  业务员   客户简称
            </p>
            <p>
               文件类型： excel文件
            </p>

            <form action="" method="post" enctype="multipart/form-data">
                {%  csrf_token %}
                 <input type="file" value="上传客户excel文件" name="customer_file">
                <div style="margin-top:10px">
                    <input type="submit" value="确认" class="btn btn-primary">

                </div>

            </form>

        </div>


    </div>

{% endblock %}