{% extends 'layout.html' %}

{% block css %}
    <style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 14px;
        }

    .upload-order, .upload-pay,.upload-update_order {
        padding: 20px;
        margin-top: 20px;
        margin-bottom:20px ;
        background-color: #fafaf4;
    }

    </style>

{% endblock %}



{% block content %}
    <div class="luffy-container">

        <div class="col-md-7">


            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-upload"></i> 批量上传订单

                </div>
                <div class="panel-body">
                    <!-- panel body -->

                    <p>
                        上传模板文件说明：<a href="{{ download_file_url }}">excel模板文件</a>
                    </p>

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="upload-order">
                            <label for="id-upload-order">同步跟单记录</label>
                            <input type="file" value="上传订单excel文件" id="id-upload-order" name="upload_order">
                             <span> * 只同步2020年以后的订单</span>

                        </div>

                        <div class="upload-pay">
                            <label for="id-upload-pay">上传收款文件</label>
                            <input type="file" value="上传订单excel文件" id="id-upload-pay" name="upload_pay">

                        </div>


                        <input type="submit" value="确认" class="btn btn-success">


                    </form>
                </div>
            </div>


        </div>


    </div>

{% endblock %}